@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Marhey&display=swap');

/* общие стили*/

:root{
    --main-fnt-fam:  'Istok Web', sans-serif;
    --hed-fnt-fam: 'Marhey', sans-serif;
    --main-bg-color: #FFF;
    --bn-color: rgba(33, 31, 31, 0.45);
    --nav-color:  #49326B;
    --btn-color:#825C83;
    --nav-fn-size:32px;
    --hover-color:#e8dbf1;
    
}

body{
    margin: 0;
    font-family: var(--main-fnt-fam);
    background: var(--main-bg-color);
}

a{
    text-decoration: none;
}

*{
    margin: 0;
}

/* Шапка */

.logo{
    width: 240px;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;

}

nav>a{
    color:var(--nav-color);
    
    font-size: var(--nav-fn-size);
}

/* главная страница */

.slider5{
    background:rgba(130,92,131, 0.7);
   height: 280px;
     padding:0 50px; 
}

.banner{
    background:rgba(130,92,131, 0.7);
    height: 280px;
}

.slider{
    height: 280px;
}

h1{
    font-family: var(--hed-fnt-fam);
    text-align: center;
    font-size: 40px;
}

.text-banner{
    font-family: var(--hed-fnt-fam);
    color: var(--main-bg-color);
    position: absolute;
    top: 280px;
    left: 62px;
    font-size: 40px;
    z-index: 1;
    text-align: center;
}

.about-us{
    padding: 80px;
    font-size: 24px;

}

/* магазин */

.shop{
    padding: 30px 0;
    background: rgba(108, 3, 143, 0.38);
    z-index: 2;
}


.categories{
    height: 360px;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:var(--bn-color);
   
}

.item-categories{
    width: 340px;
    height: 340px;
    z-index: 1;
    color: var(--main-bg-color);
    text-align: center;
   display: flex;
   align-items: flex-end;
   justify-content: center;
   font-family: var(--hed-fnt-fam);
   font-size: 40px;
}

.lamps{
    color: white;
    position: relative;
}
.lamps::before{
    content: "";
  position: absolute; /*  абсолютное позиционирование  */
  top: 0; left: 0; /*  располагаем псевдоэлемент там же, где и .container  */
  width: 100%; height: 100%; /*  задаем ему такие же размеры  */
  background: url(lamp.png);
  background-position: center;
  background-size: cover;
  filter: brightness(.5);
  z-index: -1; /*  располагаем псевдоэлемент за .container  */
   
}

.shelves{
    color: white;
    position: relative;
}
.shelves::before{
    background: url(polka.png);
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    background-position: center;
    background-size: cover;
    filter: brightness(.5);
    z-index: -1; 
     

}

.cats{
    color: white;
    position: relative;
   
}

.cats::before{
    background: url(cat.png);
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    background-position: center;
    background-size: cover;
    filter: brightness(.5);
    z-index: -1; 
}

.vases{
    color: white;
    position: relative;
}

.vases::before{
    background: url(vaza.png);
    content: "";
    position: absolute;
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    background-position: center;
    background-size: cover;
    filter: brightness(.5);
    z-index: -1; 
}
/* подвал */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: space-around;
    gap: 50px;
}

.footer-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-logo{
   width: 238px;
}

.social-media img{
    animation-delay: 5s;
    animation: heartBeat 2s infinite;
}

/* страница категории */

.item-lamp{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
}


.item{
    padding: 20px;
    width: 300px;
    height: 460px;  
    border: 1px solid var(--nav-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.item:hover{
    background-color: var(--hover-color);
    border: 3px solid var(--nav-color);
    transform: scale(1.05);
    transition: 2s;
}

.item>img{
    width: 260px;
    height: 309px;
    border-radius: 5px;
}

.item>p{
    font-size: 24px;
    color: var(--nav-color);
    }


.item>.addToCard{
    width: 182px;
    height: 38px;
    padding: 5px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    background:var(--btn-color);
    color: var(--main-bg-color);
}

.item>.addToCard:hover{
    background-color: var(--nav-color);
}
